@import "@source/scss/index.scss";

.stickyHeader {
  position: sticky;
  background-color: transparent;
  top: 5px;
  left: 0;
  right: 0;
  transition: top 0.5s ease-in-out;
  padding: 5px 10px 10px;
  z-index: 3;
  & > header {
    max-width: 1500px;
    background-color: var(--primary);
    box-shadow: 0px 5px 9px 0px rgba($dark, 0.75);
    -webkit-box-shadow: 0px 5px 9px 0px rgba($dark, 0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba($dark, 0.75);
    border-radius: 70px / 100%;
    margin: auto;
    padding: 10px 30px;
    @include quickFlex($dir: row, $justify: space-evenly);
    @include quickFlex($dir: row, $justify: space-between);
    overflow: hidden;
    & > div:nth-of-type(1) {
      @include quickFlex($dir: row, $column: 10px);
    }
    & > div:nth-of-type(2) {
      margin-bottom: -5px;
      column-gap: 20px;
      a {
        color: $primary;
        &:hover {
          color: var(--contrast);
          background: linear-gradient(to left, $secondary, var(--primary) 100%);
          background-position: 0 100%;
          background-size: 100% 2px;
          background-repeat: repeat-x;
        }
      }
    }

    & > div:nth-of-type(3) {
      align-items: center;
      column-gap: 10px;
      & > div:nth-of-type(1) {
        border-right: 1px solid var(--secondary);
      }
    }
  }
}

.relativeHeader {
  @extend .stickyHeader;
  position: relative;
  padding: 0;
  border-bottom: 1px solid $primary;
  & > header {
    background-color: transparent;
    box-shadow: none;
  }
}

.hiddenHeader {
  @extend .stickyHeader;
  position: relative;
  top: calc(-1 * var(--headerHeight) - 10px);
  transition: none;
}
