@import "styles/index.scss";

.social {
  z-index: 2;
  position: relative;
  margin: 20px auto 15px;
  @include quickFlex($column: 20px);

  & > a {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    padding: 18px 10px;
    transition: 0.5s all ease-in !important;

    &:hover {
      -webkit-filter: brightness(0.8);
      filter: brightness(0.8);
    }
  }
}

.iconOnly {
  @include quickFlex($dir: row, $column: 20px);
  width: 100%;
  @extend .social;
  justify-content: space-evenly;

  & > * {
    width: 70px !important;
    border-radius: 50%;

    & > * {
      padding: 10px !important;
      border: 3px double var(--primary-color) !important;
    }
  }
}
