@import "@source/_variables";

.transfer {
  padding: 0 5px;
  max-width: 800px;
  margin: auto;
  & > div {
    padding: 5px;
    margin: 10px auto;
    & > main {
      max-width: 600px;
      margin: auto;
    }
  }
}

.header > main {
  @include flexCenter(row);
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  & > div {
    text-align: center;
    // width: 100%;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0;
  }
}

@media screen and (min-width: 420px) {
  .header > main {
    & > div {
      width: unset;
    }
  }
}
