@import "styles/index.scss";

.loading {
  @include quickFlex($width: 100%);

  span {
    cursor: none;
    animation: spin 0.8s ease-in-out infinite;
    width: 65px;
    height: 65px;
    border-radius: 50%;

    border-bottom: 4px solid $primary-color;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
