@import "@source/scss/index.scss";

.noAuthHome {
  & > div:nth-of-type(1) {
    height: 400px;
    color: $lightGray;
    @include quickFlex($dir: column);
    background-color: color(dark);
    font-size: calc(1.8em + 1vw) !important;
  }
  & > div:nth-of-type(2) {
    padding: 20px 10px;
    @include quickFlex(row);
    flex-wrap: wrap;
    & > div {
      @include quickFlex($dir: column);
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      max-width: 400px;
      background-color: darken($color: $lightGray, $amount: 10);
      padding: 10px;
      text-align: center;
      overflow: hidden;
      & > div {
        position: relative;
        width: 100%;
        height: 200px;
      }
      & > span {
        padding: 10px 30px;
      }
    }
    & > div:nth-of-type(2) {
      border: 7px solid darken($color: $lightGray, $amount: 3);
      height: 300px;
      width: 300px;
      z-index: 1;
      border-radius: 100%;
      padding: 0;
      & > div {
        position: relative;
        width: 100%;
        height: 200px;
      }
    }
  }

  & > div:nth-of-type(3) {
    background-color: color(dark);
    & > div {
      margin: auto;
      padding: 20px;
      flex-wrap: wrap;
      max-width: 500px;
      color: $lightGray;
      @include quickFlex($dir: column);
      & > i {
        font-size: 0.6em;
      }
    }
  }

  & > div:nth-of-type(4) {
    @include quickFlex(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 20px;
    margin: auto;
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media screen and (min-width: 746px) {
  .noAuthHome {
    & > div:nth-of-type(2) {
      & > div {
        max-width: 250px;
      }
      & > div:nth-of-type(1) {
        margin-right: -25px;
      }
      & > div:nth-of-type(3) {
        margin-left: -25px;
      }
    }
  }
}
@media screen and (min-width: 960px) {
  .noAuthHome {
    & > div:nth-of-type(2) {
      & > div {
        max-width: 300px;
      }
      & > div:nth-of-type(1) {
        margin-right: -50px;
      }
      & > div:nth-of-type(3) {
        margin-left: -50px;
      }
    }
  }
}
@media screen and (min-width: 1166px) {
  .noAuthHome {
    & > div:nth-of-type(2) {
      & > div {
        max-width: 400px;
      }
    }
  }
}
