@import "@styles/scss/index.scss";

div.intro {
  margin-top: 15px;
  background-color: var(--secondary);
  text-align: center;
  margin-top: 0px;
  min-height: calc(var(--visibleScreen) - 50px);
  @include quickFlex();
  & > div {
    // margin: auto;
    max-width: 1200px;
  }
}
