@import "@styles/scss/index.scss";

.intro {
  position: relative;
  height: 100%;
  width: 100%;

  border: 3px solid red;
  // background-color: $dark;
  // background-image: url("/images/layout/background.jpg");
  // background-position: center 130px;
  // background-size: calc(max(100%, 900px)) 100vh;
  // background-repeat: no-repeat;
  // z-index: -1;
  // position: fixed;
  // width: 100%;
  // height: 100vh;
  // bottom: 0px;

  // margin: auto;
}
