@import "@source/scss/index.scss";

.signup {
  width: clamp(300px, 100%, 600px);
  & > form {
    margin: 80px auto;
    transition: all 1.5s linear;
    @include boxShadow($br: 10px);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 35) 10%);

    & > img {
      border-radius: 50%;
      // border: 3px solid red;

      // .zenithLogo {
      //   margin: -110px 20px 0 auto;
      animation: spin 4s alternate infinite;
      @keyframes spin {
        100% {
          transform: rotateY(360deg);
        }
      }
    }
  }
}
