@import "@source/scss/index.scss";

::-webkit-scrollbar {
  width: 5px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   border-radius: 5px;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  // border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $primary, $amount: 10);
}
