@import "@source/scss/index.scss";

// body {
// border: 3px solid red;
// }

// * {
// -webkit-backface-visibility: hidden;
// backface-visibility: hidden;

/* Change the white to any color.......This is to remove blue background on chrome autofill for input */
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-box-shadow: 0 0 0 30px white inset !important;
// }
// }

//  {
//   /* MAGIC HAPPENS HERE */
//   transform: translateZ(0);
//   -webkit-transform: translateZ(0);

//   backface-visibility: hidden;
//   -webkit-backface-visibility: hidden;
//   perspective: 1000;
//   -webkit-perspective: 1000;
// }

::-webkit-scrollbar {
  width: 3px;
  background: $darkGray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $primary, $amount: 10);
}

// style the text that a user selects on a webpage.
::selection {
  color: $primary;
  background-color: lighten($color: $secondary, $amount: 30);
}
