// Variables
// $primary: #ad2723;
// $secondary: #a8a8a8;
// $textPrimary: #f3f3f3;
// $textSecondary: #999999;

$primary: rgb(68, 139, 68);
$secondary: rgb(141, 202, 141);
$lightGray: rgb(241, 241, 241);
$darkGray: rgb(6, 5, 27);
$highlight: rgb(238, 205, 20);

// $err: rgb(241, 28, 28);
// $text: rgb(65, 65, 65);
// $pryGold: rgb(238, 205, 20); // rgb(230, 170, 41),,,,
