@import "@source/scss/index.scss";

.header {
  background-color: #1b1e29;

  & > header {
    max-width: 1200px;
    margin: auto;
    color: $textSecondary;
    padding: 10px;
    @include quickFlex($dir: row, $justify: space-between);

    & > div:first-of-type {
      @include quickFlex($dir: row, $column: 10px);
      & > img {
        border-radius: 50%;
      }
    }

    & > div:nth-of-type(2) {
      margin-bottom: -5px;
      @include quickFlex($dir: row, $column: 40px);
      a {
        color: white;
        &:hover {
          background: linear-gradient(to left, $secondary, $darkGray 100%);
          background-position: 0 100%;
          background-size: 100% 2px;
          background-repeat: repeat-x;
        }
      }
    }

    & > div:last-of-type {
      @include quickFlex($dir: row, $column: 10px);
      & > div:first-of-type {
        @include quickFlex($dir: row);
        & > a {
          color: white;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
