@import "@source/scss/index.scss";

.header {
  background-color: #1b1e29;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  // width: calc(100vw - 10px);
  // width: 100vw;
  z-index: 3;
  box-shadow: 0px 5px 11px 1px lighten($color: #1b1e29, $amount: 10);
  -webkit-box-shadow: 0px 5px 11px 1px lighten($color: #1b1e29, $amount: 10);
  -moz-box-shadow: 0px 5px 11px 1px lighten($color: #1b1e29, $amount: 10);
  & > header {
    max-width: 1200px;
    margin: auto;
    color: $textSecondary;
    padding: 10px;
    @include quickFlex($dir: row, $justify: space-between);
    & > div:first-of-type {
      @include quickFlex($dir: row, $column: 10px, $width: 100%);
      & > img {
        border-radius: 50%;
      }
    }

    & > div:nth-of-type(2) {
      display: none;
    }

    & > div:last-of-type {
      display: none;
    }
  }
}

@media screen and (min-width: 480px) {
  .header {
    & > header {
      & > div:first-of-type {
        width: unset;
      }

      & > div:nth-of-type(2) {
        margin-bottom: -5px;
        @include quickFlex($dir: row, $column: 20px);
        a {
          color: white;
          &:hover {
            color: $secondary;
            background: linear-gradient(to left, $secondary, $darkGray 100%);
            background-position: 0 100%;
            background-size: 100% 2px;
            background-repeat: repeat-x;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 670px) {
  .header {
    & > header {
      & > div:nth-of-type(2) {
        column-gap: 40px;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .header {
    & > header {
      & > div:last-of-type {
        @include quickFlex($dir: row, $column: 10px);

        & > div:first-of-type {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    & > header {
      & > div:last-of-type {
        & > div:first-of-type {
          border-right: 1px solid darken($color: $lightGray, $amount: 70);
          padding-right: 15px;
          margin-right: 10px;
          @include quickFlex($dir: row);
          & > a {
            color: white;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
