@import "@source/scss/index.scss";

.signin {
  padding: 10px 50px 20px;
  transition: all 1.5s ease-in;
  @include boxShadow($br: 10px);
  background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  width: 100%;

  & > .social {
    z-index: 2;
    padding: 10px;
    position: relative;
    max-width: none;
    margin: 20px auto 15px;
    @include quickFlex($dir: row, $row: 20px, $column: 20px);
    max-width: 520px;
    & > a {
      font-size: 1em;
      font-weight: 600;
      padding: 18px 10px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .signin {
    margin: 10px auto;
    width: clamp(300px, 100%, 520px);
    // background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  }
}
