@import "@source/scss/index.scss";

.signin {
  caret-color: $primary;
  padding: 10px 10px 20px;
  transition: all 1.5s ease-in;
  @include boxShadow($br: 10px);
  background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  width: 100%;

  & > .social {
    z-index: 2;
    padding: 10px;
    position: relative;
    max-width: none;
    margin: 20px auto 15px;
    @include quickFlex($dir: row, $wrap: wrap, $row: 20px, $column: 20px);
    & > a {
      font-size: 1em;
      font-weight: 600;
      min-width: 200px;
      padding: 18px 10px;
    }
  }

  & > .divider {
    max-width: 520px;
    margin: 40px auto;
    position: relative;
    @include quickFlex($width: calc(100% - 20px));
    border-top: 1px solid darken($color: $lightGray, $amount: 10);
    & > span:first-of-type {
      width: 180px;
      position: absolute;
      border-top: 2px solid lighten($secondary, 28);
    }

    & > span:last-of-type {
      font-size: 0.8em;
      position: absolute;
      color: darken($color: $textSecondary, $amount: 40);
    }
  }
  // border: 3px solid blue;
}

@media screen and (min-width: 1200px) {
  .signin {
    margin: 10px auto;
    width: clamp(300px, 100%, 520px);
    background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  }
}
