@import "styles/index.scss";

main.layout {
  display: grid;
  min-height: var(--visibleScreen);
  grid-template-rows: var(--headerHeight) auto;

  & > div:last-of-type {
    width: 100%;
    margin: auto;
    display: grid;
    max-width: 650px;
    padding: 10px clamp(10px, 5vw, 20px);
  }
}
