// @import "@styles/scss/index.scss";

// .home {
//   background-color: $apihub-light;
//   @include quickFlex($dir: column);
// }

// #sectionOne {
//   background-image: radial-gradient($apihub-secondary, $apihub-primary);
//   @include quickFlex($dir: row);
//   justify-content: space-evenly;
//   padding: 50px 10px;
//   flex-wrap: wrap;
//   & > main {
//     max-width: 600px;
//     p:nth-of-type(1) {
//       font-size: 0.8em;
//       font-weight: 900;
//       letter-spacing: 5px;
//     }
//     p:nth-of-type(2) {
//       line-height: 1.2em;
//       font-size: 1.6em;
//       letter-spacing: 5px;
//       margin: 15px 0;
//     }
//     p:nth-of-type(3) {
//       letter-spacing: 1px;
//     }
//     button {
//       margin-top: 10px;
//     }
//   }
//   & > figure {
//     position: relative;
//     width: 50vw;
//     max-width: 600px;
//     min-width: 280px;
//     height: 300px;
//   }
// }

// @media screen and (min-width: 600px) {
//   #sectionOne {
//     flex-wrap: nowrap;
//     & > main {
//       max-width: 400px;
//       p:nth-of-type(1) {
//         font-size: 0.9em;
//       }
//       p:nth-of-type(2) {
//         font-size: 1.9em;
//       }
//     }
//     & > figure {
//       max-width: 350px;
//       min-width: 270px;
//     }
//   }
// }

// @media screen and (min-width: 715px) {
//   #sectionOne {
//     & > main {
//       p:nth-of-type(2) {
//         font-size: 2.9em;
//       }
//     }
//     & > figure {
//       max-width: 400px;
//       min-width: 300px;
//     }
//   }
// }

// @media screen and (min-width: 1200px) {
//   #sectionOne {
//     & > main {
//       p:nth-of-type(1) {
//         font-size: 1em;
//       }
//       p:nth-of-type(2) {
//         font-size: 3.9em;
//       }
//     }
//     & > figure {
//       max-width: 600px;
//       min-width: 400px;
//       height: 430px;
//     }
//   }
// }

// #noImageText {
//   max-width: 700px;
//   @include quickFlex($dir: column);
//   padding: 70px 10px;
//   color: unset;
//   & > main {
//     & > p:nth-of-type(1) {
//       text-align: center;
//       font-weight: 700;
//       color: $apihub-primary;
//       font-size: 1.3em;
//       letter-spacing: 5px;
//     }
//     & > p:nth-of-type(2) {
//       color: $dark;
//     }
//     a {
//       display: block;
//       text-align: center;
//     }
//   }
// }

// @media screen and (min-width: 600px) {
//   #noImageText > p:nth-of-type(1) {
//     font-size: 1.7em;
//   }
// }

// #reverseImageText,
// #imageText {
//   @include quickFlex($dir: row);
//   flex-wrap: wrap;
//   justify-content: space-evenly;

//   padding: 10px;
//   & > main {
//     p:nth-of-type(1) {
//       font-weight: 700;
//       color: $apihub-primary;
//       font-size: 1.1em;
//       letter-spacing: 2px;
//     }
//     & > p:nth-of-type(2) {
//       color: $dark;
//       margin: 5px 0;
//     }
//   }

//   & > figure {
//     position: relative;
//     width: 100%;
//     border-radius: 10px;
//     overflow: hidden;
//     min-width: 280px;
//     max-width: 500px;
//     height: 170px;
//   }
// }

// #reverseImageText {
//   figure {
//     height: 220px;
//     width: 70px;
//   }
// }

// @media screen and (min-width: 750px) {
//   #reverseImageText,
//   #imageText {
//     flex-wrap: nowrap;
//     & > main {
//       max-width: 600px;
//       p:nth-of-type(1) {
//         font-size: 1.4em;
//         letter-spacing: 5px;
//       }
//       & > p:nth-of-type(2) {
//         margin: 10px 0;
//       }
//     }
//     & > figure {
//       position: relative;
//       width: 100%;
//       border-radius: 10px;
//       overflow: hidden;
//       min-width: 300px;
//       max-width: 500px;
//       height: 320px;
//     }
//   }

//   #reverseImageText {
//     main {
//       order: 2;
//     }
//     figure {
//       order: 1;
//     }
//   }
// }

// #sectionSix {
//   width: 100%;
//   padding: 50px 10px;
//   background-image: repeating-radial-gradient(circle at 0 0, $apihub-primary, $apihub-secondary, $apihub-light);
//   & > main:first-child {
//     text-align: center;
//     @include quickFlex($dir: column);
//     max-width: 600px;
//     margin: auto;
//     & > p:first-of-type {
//       font-size: 1em;
//     }
//     & > p:last-of-type {
//       font-size: 0.8em;
//     }
//   }
//   & > main:last-child {
//     @include quickFlex($dir: row);
//     align-items: flex-start;
//     max-width: 600px;
//     margin: 60px auto 10px;
//     & > div:first-of-type {
//       & > figure:first-of-type {
//         position: relative;
//         border-radius: 10px;
//         overflow: hidden;
//         top: -30px;
//         margin: 0 auto -90px;
//         height: 80px;
//         z-index: 1;
//         left: 3px;
//         width: 110px;
//         border-bottom-left-radius: 50%;
//         border-bottom-right-radius: 50%;
//       }
//       & > figure:last-of-type {
//         position: relative;
//         border-radius: 10px;
//         overflow: hidden;
//         width: 250px;
//         height: 270px;
//       }
//     }

//     & > p:nth-last-of-type(1) {
//       color: $apihub-highlight;
//       font-size: 1.4em;
//       font-weight: 700;
//     }
//     & > div:last-of-type {
//       @include quickFlex($dir: column, $width: initial);
//       align-items: flex-start;
//       & > div:nth-of-type(2) {
//         margin-top: 13px;
//         @include quickFlex($dir: row);
//         justify-content: flex-start;
//         column-gap: 10px;
//         & > div {
//           padding: 0 5px;
//           width: max-content;
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 460px) {
//   #sectionSix {
//     & > main:first-child {
//       & > p:first-of-type {
//         font-size: 2em;
//       }
//       & > p:last-of-type {
//         font-size: 1.2em;
//       }
//     }
//   }
// }

// #sectionSeven {
//   @include quickFlex($dir: row);
//   justify-content: space-evenly;
//   padding: 60px 10px 80px;
//   text-align: center;
//   & > main {
//     margin-top: 50px;
//     max-width: 1200px;
//     & > p:nth-of-type(1) {
//       font-weight: 700;
//       color: $apihub-primary;
//       font-size: 1.4em;
//       letter-spacing: 5px;
//     }
//     & > p:nth-of-type(2) {
//       color: $apihub-highlight;
//       margin: 10px 0;
//     }
//     & > div {
//       @include quickFlex($dir: row);
//       gap: 10px;
//       justify-content: space-evenly;
//       align-items: flex-start;
//       flex-wrap: wrap;
//       & > div {
//         @include quickFlex($dir: column, $width: initial);
//         text-align: center;
//         min-width: 270px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 360px) {
//   #sectionSeven > main {
//     & > p:nth-of-type(1) {
//       font-size: 1.2em;
//     }
//     & > div {
//       & > div {
//         @include quickFlex($dir: row, $width: initial);
//         column-gap: 10px;
//         text-align: left;
//       }
//     }
//   }
// }

// @media screen and (min-width: 770px) {
//   #sectionSeven > main {
//     & > p:nth-of-type(1) {
//       font-size: 1.4em;
//     }
//     & > div {
//       & > div {
//         text-align: center;
//         @include quickFlex($dir: column, $width: initial);
//         max-width: 350px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 960px) {
//   #sectionSeven > main {
//     & > p:nth-of-type(1) {
//       font-size: 2em;
//     }
//     & > div {
//       & > div {
//         max-width: 300px;
//       }
//     }
//   }
// }
