@import "@source/scss/index.scss";

.layout > div:last-of-type {
  // position: sticky;
  // border: 3px solid red;
  // padding-top: 70px;
  // min-height: 100vh;
  min-height: var(--visibleScreen);
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto max-content;
}
