@import "styles/index.scss";

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 340px auto;

  & > div:nth-of-type(1) {
    height: 100vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: auto;

    // Use :where to allow child style take higher css specificity
    :where(& > main, & > div) {
      width: calc(100vw - 340px);
      overflow-x: hidden;

      padding: 10px;
      align-self: center;
      justify-self: center;
    }
  }
}

nav.navigation {
  display: grid;
  grid-template-rows: max-content auto max-content;
  height: 100vh;
  position: relative;
  background: var(--secondary-color);
  padding: 20px 10px 10px;

  & > div:nth-of-type(2) {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    left: -5px;
    & > *.active {
      position: sticky;
      top: -5px;
      bottom: -5px;
      z-index: 1;
    }
  }

  & > div:nth-of-type(3) > img {
    border-radius: 50%;
    animation: spin 14s alternate infinite;

    @keyframes spin {
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
