@import "styles/index.scss";

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 280px auto;

  & > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: auto;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 280px);

    // Use :where to allow child style take higher css specificity
    :where(& > main, & > div) {
      // margin: auto;
      max-width: 1500px;
      align-self: center;
      justify-self: center;

      // border: 3px solid red;

      padding: 10px clamp(10px, 5vw, 20px);
    }
  }
}

nav.navigation {
  display: grid;
  grid-template-rows: max-content auto max-content;
  height: 100vh;
  position: relative;
  background: var(--secondary-color);
  padding: 20px 10px 10px;

  & > div:nth-of-type(2) {
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
    left: -5px;

    p {
      margin-left: -20px;
    }

    & > *.active {
      position: sticky;
      top: -5px;
      bottom: -5px;
      z-index: 1;
    }
  }

  & > div:nth-of-type(3) > img {
    border-radius: 50%;
    animation: spin 14s alternate infinite;

    @keyframes spin {
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
