@import "@source/scss/index.scss";

.rotation {
  animation: rotation 5s infinite linear;

  border: 3px solid red;

  // transform-style: preserve-3d;

  @keyframes rotation {
    from {
      transform: perspective rotateY(0deg);
    }
    to {
      transform: perspective rotateY(360deg);
    }
  }
}
