@import "@source/scss/index.scss";

.successImage {
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 150px;
  animation: rotation 10s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  & > img {
    height: 80% !important;
    width: 80% !important;
    margin: auto;
    border-radius: 50%;
    border: 3px double $primary;
    padding: 10px;
  }
}
