@import "@source/scss/index.scss";

.rotation {
  position: relative;
  width: 100%;
  max-width: 120px !important;
  height: 120px;
  animation: rotation 10s infinite linear;

  // border: 3px solid red !important;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  & > img {
    //   height: 80% !important;
    padding: 10px;
    //   width: 80% !important;
    //   margin: auto;
    border-radius: 50%;
    border: 3px double $primary;
    //   padding: 10px;
  }
}
