@import "@source/scss/index.scss";

.rotation {
  animation: rotation 5s infinite linear;
  width: max-content !important;

  @keyframes rotation {
    from {
      // transform: rotateY(0deg);
      transform: translate3d(0deg);
      // translate3d
    }
    to {
      // transform: rotateY(360deg);
      transform: translate3d(360deg);
    }
  }
}
