@import "@source/scss/index.scss";

.forgotPassword {
  padding: 20px;
  transition: all 1.5s ease-in;
  @include boxShadow($br: 10px);
  background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  width: 100%;

  // border: 3px solid red;
  @include quickFlex($width: calc(100% - 20px));
  height: calc($minContentHeight - $headerHeight);

  // min-height: var(--visibleScreen);
}

@media screen and (min-width: 1200px) {
  .forgotPassword {
    // margin: 10px auto;
    width: clamp(300px, 100%, 520px);
    // background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
  }
}
