@import "@source/scss/index.scss";

.forgotPassword {
  width: 100%;
  padding: 20px;
  transition: all 1.5s ease-in;
  @include boxShadow($br: 10px);
  @include quickFlex($width: calc(100% - 20px));
  min-height: calc($minContentHeight - $headerHeight);
  background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
}

@media screen and (min-width: 1200px) {
  .forgotPassword {
    margin: 10px auto;
    width: clamp(300px, 100%, 520px);
  }
}
