@import "styles/index.scss";

div.intro {
  background-color: var(--secondary-color);
  @include quickFlex();
  text-align: center;
  min-height: 500px;

  & > div {
    max-width: 1200px;
  }

  // display: none;
}
