@import "@source/scss/index.scss";

.verifiedImage {
  position: relative;
  width: 100%;
  max-width: 120px;
  height: 120px;
  animation: rotation 10s infinite linear;

  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  & > img {
    padding: 10px;
    border-radius: 50%;
    border: 3px double $primary;
  }
}
