@import "@styles/scss/index.scss";

.layout {
  display: grid;
  background: var(--primary);
  min-height: var(--visibleScreen);
  grid-template-rows: max-content auto max-content;

  & > main {
    min-height: 400px;
    position: relative;
  }
}
