@import "@source/scss/index.scss";

.layout {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--primary);
  min-height: var(--visibleScreen);
  grid-template-rows: auto max-content;
  // background: linear-gradient(45deg, rgb(45, 45, 45) 0%, var(--primary) 34%);

  & > main {
    min-height: 400px;
  }
}
