@import "@source/scss/index.scss";

.layout {
  display: grid;
  background: var(--primary);
  min-height: var(--visibleScreen);
  grid-template-rows: auto max-content auto;

  & > main {
    min-height: 400px;
    position: relative;
    top: -86.04px;
    margin-bottom: -85px;
  }
}
