@import "@source/scss/index.scss";

.intro {
  height: clamp(400px, 100vh, 1200px);
  // max-height: 700px;
  background: $darkGray;
  background: linear-gradient(45deg, rgba(74, 74, 74, 1) 0%, $darkGray 34%);

  & > div:last-of-type {
    margin: auto;
    max-width: 1700px;
    padding: 20px 30px;

    @include quickFlex($dir: row, $justify: flex-start, $align: stretch);
    // border: 3px solid yellow;

    // display: grid;
    // grid-template-columns: auto 400px;
    height: calc(100% - $headerHeight - 9px);
    position: relative;
    & > div:first-of-type {
      // height: 1200px;

      padding: 100px 10px;

      z-index: 1;
      // position: relative;

      // top: 0;
      // bottom: 0;

      // height: none;
      height: 100%;
      color: $lightGray;
      padding: 10px 50px;
      border-radius: 0 70px 0 70px;
      @include quickFlex($dir: column, $align: flex-start);
      border: 2px solid darken($color: $textSecondary, $amount: 50);
      // width: calc(100% - 300px);

      & > * {
        max-width: 900px;
      }

      & > span {
        margin-top: 20px;
        @include quickFlex($column: 20px, $justify: flex-end, $width: 100%);
      }
      // border: 3px solid green;
    }

    & > div:last-of-type {
      // border: 3px solid red;
      // padding: 20px;
      height: clamp(300px, 100%, 100vh);
      // display: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0%, -50%);
      // height: 300px;
      width: 800px;
      // margin-left: -200px;
      background: radial-gradient(circle closest-corner at 53% 50%, transparent -60%, $darkGray 65%), url("/images/layout/intro-welcome.jpg") 50%/220% no-repeat;
    }
  }
}

// @media screen and (min-width: 530px) {
//   .intro > div {
//     background: radial-gradient(circle closest-corner at 50% 37%, transparent -50%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/190% no-repeat;
//   }
// }

// @media screen and (min-width: 620px) {
//   .intro > div {
//     clip-path: polygon(50% 0%, 65% 0, 100% 0, 100% 95%, 0 100%, 0 0, 35% 0);
//     background: radial-gradient(circle closest-corner at 50% 30%, transparent -48%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/160% no-repeat;
//   }
// }

// @media screen and (min-width: 860px) {
//   .intro > div {
//     clip-path: polygon(50% 0%, 60% 0, 100% 0, 100% 95%, 0 100%, 0 0, 40% 0);
//     background: radial-gradient(circle closest-corner at 50% 30%, transparent -58%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/130% no-repeat;
//   }
// }

// @media screen and (min-width: 1220px) {
//   .intro > div {
//     background: radial-gradient(circle closest-corner at 50% 25%, transparent -55%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/100% no-repeat;
//   }
// }
