@import "@source/scss/index.scss";

.intro {
  // background: $darkGray;
  height: 100vh;

  background: $darkGray;
  background: linear-gradient(45deg, rgba(74, 74, 74, 1) 0%, $darkGray 34%);

  & > div:last-of-type {
    display: grid;
    color: $lightGray;
    text-align: center;
    max-height: inherit;
    padding: 20px 30px;
    grid-template-columns: auto 400px;
    height: calc(100vh - $headerHeight - 9px);
    & > div:first-of-type {
      z-index: 1;
      padding: 10px 50px;
      @include quickFlex($dir: column, $align: flex-start);
      border: 2px solid darken($color: $textSecondary, $amount: 50);
      & > span {
        margin-top: 20px;
        @include quickFlex($column: 20px);
      }
      text-align: left;

      border-radius: 0 70px 0 70px;
    }

    & > div:last-of-type {
      margin-left: -200px;
      background: radial-gradient(circle closest-corner at 50% 50%, transparent -40%, rgba($darkGray, 0.998) 65%),
        url("/images/layout/intro-welcome.jpg") 50%/220% no-repeat;
    }
  }
}

// @media screen and (min-width: 530px) {
//   .intro > div {
//     background: radial-gradient(circle closest-corner at 50% 37%, transparent -50%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/190% no-repeat;
//   }
// }

// @media screen and (min-width: 620px) {
//   .intro > div {
//     clip-path: polygon(50% 0%, 65% 0, 100% 0, 100% 95%, 0 100%, 0 0, 35% 0);
//     background: radial-gradient(circle closest-corner at 50% 30%, transparent -48%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/160% no-repeat;
//   }
// }

// @media screen and (min-width: 860px) {
//   .intro > div {
//     clip-path: polygon(50% 0%, 60% 0, 100% 0, 100% 95%, 0 100%, 0 0, 40% 0);
//     background: radial-gradient(circle closest-corner at 50% 30%, transparent -58%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/130% no-repeat;
//   }
// }

// @media screen and (min-width: 1220px) {
//   .intro > div {
//     background: radial-gradient(circle closest-corner at 50% 25%, transparent -55%, rgba($darkGray, 0.998) 50%),
//       url("/images/layout/intro-welcome.jpg") 50%/100% no-repeat;
//   }
// }
