@import "@source/scss/index.scss";

.managerIntro {
  @include quickFlex($width: 100%, $dir: row, $align: stretch, $row: 70px, $column: 20px);
  flex-wrap: wrap;
  padding: 100px 10px;
  img {
    filter: brightness(80%) saturate(70%);
  }

  & > div {
    // border: 3px solid red;
    @include quickFlex($dir: column);
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    background-color: darken($color: $lightGray, $amount: 1);
    padding: 0 0 10px;
    text-align: center;
    overflow: hidden;
    & > div {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 270px;
    }
    & > span {
      padding: 10px 30px;
    }
    &:hover {
      background-color: lighten($color: $primary, $amount: 50);
    }
  }
  & > div:nth-of-type(1),
  & > div:nth-of-type(3) {
    border-radius: 10px 40px;
    box-shadow: 0px 0px 18px -1px rgba(68, 139, 68, 0.76);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(68, 139, 68, 0.76);
    -moz-box-shadow: 0px 0px 18px -1px rgba(68, 139, 68, 0.76);
  }
  & > div:nth-of-type(3) {
    border-radius: 40px 10px 40px 10px;
  }
  & > div:nth-of-type(2) {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .managerIntro {
    & > div {
      max-width: calc(100vw / 2 - 30px);
      & > div {
        height: 200px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .managerIntro {
    gap: 0;
    & > div:nth-of-type(1) {
      margin-right: -60px;
    }
    & > div:nth-of-type(3) {
      margin-left: -60px;
    }

    & > div:nth-of-type(1),
    & > div:nth-of-type(3) {
      max-width: 300px;
      & > div {
        height: 180px;
      }
      & > span {
        padding: 20px 46px 5px;
      }
    }

    & > div:nth-of-type(2) {
      height: 290px;
      width: 250px;
      display: flex;
      align-self: center;
      border: 7px solid darken($color: $lightGray, $amount: 1);
      z-index: 1;
      border-radius: 100%;
      padding: 0;

      & > div {
        position: relative;
        width: 100%;
        height: 200px;
        &:first-child {
          border-bottom: 3px solid darken($color: $lightGray, $amount: 1);
        }
        &:last-child {
          border-top: 3px solid darken($color: $lightGray, $amount: 1);
        }
      }
    }
  }
}

@media screen and (min-width: 911px) {
  .managerIntro {
    & > div:nth-of-type(1) {
      margin-right: -60px;
    }
    & > div:nth-of-type(3) {
      margin-left: -60px;
    }

    & > div:nth-of-type(1),
    & > div:nth-of-type(3) {
      max-width: 340px;
      & > div {
        height: 180px;
      }
      & > span {
        padding: 20px 46px 5px;
      }
    }

    & > div:nth-of-type(2) {
      height: 280px;
      width: 280px;
    }
  }
}

@media screen and (min-width: 1180px) {
  .managerIntro {
    & > div:nth-of-type(1) {
      margin-right: -50px;
    }
    & > div:nth-of-type(3) {
      margin-left: -50px;
    }

    & > div:nth-of-type(1),
    & > div:nth-of-type(3) {
      max-width: 400px;
      & > div {
        height: 260px;
      }
      & > span {
        padding: 25px 30px;
      }
    }

    & > div:nth-of-type(2) {
      height: 350px;
      width: 340px;
    }
  }
}
