@import "@source/scss/index.scss";

.transparent {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);

  & > div:first-of-type {
    background-color: $darkGray;
    background-image: url("/images/layout/background.jpg");
    background-position: center 130px;
    background-size: calc(max(100%, 900px)) 100vh;
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    margin: auto;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $darkGray;
      opacity: 0.6;
    }
  }

  & > div:last-of-type {
    max-width: 1200px;
    margin: auto;
    width: calc(100vw - 10px) !important;
    .peak {
      height: 100%;

      @include quickFlex($align: stretch);
      // border: 3px solid red;
      // margin: 30px auto;
      height: 100%;
      & > p {
        // border: 3px solid red;
        // padding: 15px 0;
        z-index: 1;
        position: relative;
        height: max-content;
        // margin: auto;
        margin: auto;
        width: max-content;
        text-align: center;
        color: $lightGray;
        background: linear-gradient(to left, $secondary, $darkGray 100%);
        background-position: 0 100%;
        background-size: 100% 5px;
        border-radius: 20px;
        background-repeat: repeat-x;
      }
    }

    .firstImageCarousel {
      padding: 80px 0 20px;
      @include quickFlex();
      & > img {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
      }
    }
    .lastImageCarousel {
      @extend .firstImageCarousel;
      padding: 20px 0 80px;
    }
  }
}
