@import "@styles/scss/index.scss";

.welcome {
  @include quickFlex($dir: row, $justify: center, $align: stretch, $width: calc(100vw - 5px));
  min-height: calc(var(--visibleScreen) - var(--headerHeight));
  overflow: hidden;
  & > main {
    @include quickFlex($dir: row, $justify: flex-start, $align: stretch);
    padding: 20px;
    position: relative;
    max-width: 1200px;
    & > aside {
      z-index: 1;
      @include quickFlex($dir: column, $align: flex-start);
      padding: 10px 20px;
      border-radius: 0 70px 0 70px;
      border: 2px solid var(--secondary);
      & > span {
        margin-top: 20px;
        @include quickFlex($column: 20px, $row: 20px, $justify: flex-end, $width: 100%, $wrap: wrap);
      }
    }

    & > figure {
      top: 50%;
      right: -200px;
      width: 800px;
      position: absolute;
      height: clamp(300px, 100%, 800px);
      transform: translate(0%, -50%);
      background: radial-gradient(circle closest-corner at 53% 50%, transparent -170%, var(--primary) 65%),
        url("/images/layout/intro-welcome.jpg") 50%/220% no-repeat;
      // // border: 3px solid blue;
    }
  }
}
