@import "@source/scss/index.scss";

.layout {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: grid;
  * {
    outline: none;
    user-select: none; //disable select
    -moz-user-select: none; //disable select
    -webkit-user-select: none; //disable select
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
