@import "@source/scss/index.scss";

.layout {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  // min-height: calc(100vh - 2px);
  overflow-y: auto;
  overflow-x: hidden;
  * {
    outline: none;
    user-select: none; //disable select
    -moz-user-select: none; //disable select
    -webkit-user-select: none; //disable select
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }
  // border: 3px solid red;
  display: grid;
  grid-template-rows: auto max-content;
  // align-items: space-between;

  // & > * {
  //   border: 3px solid blue;
  // }
}
