@import "@source/scss/index.scss";

.layout {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Merienda", "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    transition: color 500ms ease-in;
  }

  a:hover {
    color: darken($color: $primary, $amount: 5);
    // transition-delay: 300ms;
    transition: color 300ms ease-out;
  }

  * {
    outline: none;
    user-select: none; //disable select
    -moz-user-select: none; //disable select
    -webkit-user-select: none; //disable select
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }
  & > div:last-of-type {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: max-content auto max-content;
  }
}
