@import "@styles/scss/index.scss";

main.endpoints {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  // border: 3px solid red;
  // margin-top: 15px;
  // background-color: var(--secondary);
}

figure.image {
  height: 500px;
  position: relative;
  width: clamp(200px, 100%, 500px);
}
