@import "@source/scss/index.scss";

.layout > div:last-of-type {
  min-height: var(--visibleScreen);
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto max-content;
}
