@import "@source/scss/index.scss";

.apihub {
  background-color: white;
  & > div {
    margin: auto;
    padding: 50px 10px;
    max-width: 1200px;
    height: 100%;
    & > div:first-of-type {
      position: relative;
      margin: 20px auto;
      width: 100%;
      max-width: 500px;
    }
  }
}
