@import "@source/scss/index.scss";

.intro {
  height: calc(100vh);
  color: $lightGray;
  @include quickFlex($dir: column);
  background: radial-gradient(circle closest-corner at 50% 50%, transparent -50%, rgba($darkGray, 0.998) 50%),
    url("../../../public/images/layout/intro-welcome.jpg") 50%/190% no-repeat;
}
