@import "@source/scss/index.scss";

.breakdown {
  // background-image: url("/images/layout/background.jpg");

  // background-color: $darkGray;
  // background-color: transparent;
  // height: 100%;
  // width: 100%;
  // background: rgba(255, 255, 255, 0.9);
  // position: relative;
  // overflow-x: hidden;
  & > div:first-of-type {
    // max-width: 1200px;
    position: fixed;
    // // bottom: 10vh;
    width: 100%;
    // // bottom: 10px;
    // // left: 20px;
    height: 500px;
    // margin: 50px auto 150px;
    border: 3px solid red;

    bottom: 0;
    // left: 0;
    // right: 0;
  }

  & > div:last-of-type {
    max-width: 1200px;
    border: 3px solid blue;
    // margin: 50px auto 150px;
  }

  //  max-width: 1000px;
  //   // border: 3px solid red;
  //   // @include quickFlex($dir: row, $justify: space-between);
  //   @include quickFlex($dir: row);
  //   position: relative;

  //   background-image: url("/images/layout/intro-breakdown-bg.png");
  //   background-repeat: no-repeat;
  //   background-position: 120% 120px;
  //   & > div {
  //     padding: 40px 20px;
  //     color: whitesmoke;
  //     // border: 3px solid BLUE;
  //     @include quickFlex($dir: column, $width: calc(100% - 500px), $row: 10px);
  //   }
  //   & > img {
  //     position: absolute;
  //     right: 70px;
  //     bottom: 20px;
  //     height: calc(100% + 100px);
  //     width: 500px;
  //     // border: 3px solid green;
  //   }
}

// .breakdown::after {
//   content: "";
//   height: 100%;
//   width: 100%;
//   background: url("http://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png");
//   position: absolute;
//   background-attachment: fixed;
//   background-size: cover;
//   left: 0;
//   top: 0;
//   z-index: -1;
// }
