@import "@source/scss/index.scss";

.intro {
  & > div {
    color: $lightGray;
    text-align: center;
    height: 100vh !important;
    @include quickFlex($dir: column);
    clip-path: polygon(50% 0%, 70% 0, 100% 0, 100% 96%, 0 100%, 0 0, 30% 0);
    background: radial-gradient(circle closest-corner at 50% 40%, transparent -50%, rgba($darkGray, 0.998) 50%), url("/images/layout/intro-welcome.jpg") 50%/250% no-repeat;
  }
}

@media screen and (min-width: 530px) {
  .intro > div {
    background: radial-gradient(circle closest-corner at 50% 37%, transparent -50%, rgba($darkGray, 0.998) 50%), url("/images/layout/intro-welcome.jpg") 50%/190% no-repeat;
  }
}

@media screen and (min-width: 620px) {
  .intro > div {
    clip-path: polygon(50% 0%, 65% 0, 100% 0, 100% 95%, 0 100%, 0 0, 35% 0);
    background: radial-gradient(circle closest-corner at 50% 30%, transparent -48%, rgba($darkGray, 0.998) 50%), url("/images/layout/intro-welcome.jpg") 50%/160% no-repeat;
  }
}

@media screen and (min-width: 860px) {
  .intro > div {
    clip-path: polygon(50% 0%, 60% 0, 100% 0, 100% 95%, 0 100%, 0 0, 40% 0);
    background: radial-gradient(circle closest-corner at 50% 30%, transparent -58%, rgba($darkGray, 0.998) 50%), url("/images/layout/intro-welcome.jpg") 50%/130% no-repeat;
  }
}

@media screen and (min-width: 1220px) {
  .intro > div {
    background: radial-gradient(circle closest-corner at 50% 25%, transparent -55%, rgba($darkGray, 0.998) 50%), url("/images/layout/intro-welcome.jpg") 50%/100% no-repeat;
  }
}
