@import "@source/scss/index.scss";

.transparent {
  // background-color: $darkGray;
  // background-color: transparent;
  // height: 100%;
  // width: 100%;
  // background: rgba(255, 255, 255, 0.9);
  // position: relative;
  // overflow-x: hidden;
  & > div:first-of-type {
    background-image: url("/images/layout/background.jpg");
    background-position: center 20px;
    background-size: calc(max(100%, 900px)) 100vh;
    background-repeat: no-repeat;
    z-index: -1;
    // max-width: 1200px;
    // max-width: 1200px;
    position: fixed;
    // // bottom: 10vh;
    width: 100%;
    // // bottom: 10px;
    // // left: 20px;
    height: 100vh;
    // margin: 50px auto 150px;
    // border: 3px solid red;

    bottom: 0px;
    margin: auto;
    // left: 0;
    // right: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $darkGray;
      opacity: 0.6;
    }
  }

  & > div:last-of-type {
    max-width: 1200px;
    // border: 1px solid blue;
    margin: auto;
    // @include quickFlex();
    // position: relative;
    // width: 100px !important;
    width: calc(100vw - 10px) !important;
    .peak {
      min-height: 200px;
      margin: 0 auto;
      // border: 3px solid blue;
      // span {
      @include quickFlex();

      & > p {
        text-align: center;
        color: $lightGray;

        background: linear-gradient(to left, $secondary, $darkGray 100%);
        background-position: 0 100%;
        background-size: 100% 3px;
        background-repeat: repeat-x;
      }
      //   // margin: auto;
      //   // width: 100vw !important;
      // }
      // // text-align: center;
    }
  }

  //  max-width: 1000px;
  //   // border: 3px solid red;
  //   // @include quickFlex($dir: row, $justify: space-between);
  //   @include quickFlex($dir: row);
  //   position: relative;

  //   background-image: url("/images/layout/intro-breakdown-bg.png");
  //   background-repeat: no-repeat;
  //   background-position: 120% 120px;
  //   & > div {
  //     padding: 40px 20px;
  //     color: whitesmoke;
  //     // border: 3px solid BLUE;
  //     @include quickFlex($dir: column, $width: calc(100% - 500px), $row: 10px);
  //   }
  //   & > img {
  //     position: absolute;
  //     right: 70px;
  //     bottom: 20px;
  //     height: calc(100% + 100px);
  //     width: 500px;
  //     // border: 3px solid green;
  //   }
}

// .breakdown::after {
//   content: "";
//   height: 100%;
//   width: 100%;
//   background: url("http://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png");
//   position: absolute;
//   background-attachment: fixed;
//   background-size: cover;
//   left: 0;
//   top: 0;
//   z-index: -1;
// }
