@import "@source/scss/index.scss";

.numbering {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $primary;
  border-right: 1.5px solid $primary;
  font-size: 0.85em;
  font-weight: bold;
  --size: 20px;
  display: block;
  line-height: var(--size);
  width: var(--size);
  margin-bottom: 5px;
  height: var(--size);
  transform: rotate(-12deg);
  background: darken($color: #fff, $amount: 15);
  border-radius: 50%;
  text-align: center;
}

.activeEntry {
  opacity: 0.6;
  & > *:first-child {
    --size: 3px;
    border-left: var(--size) solid $primary;
    & > * {
      margin-left: -var(--size);
    }
  }
}
