@import "@source/scss/index.scss";

.contact {
  padding: 10px;
  & > div.categories {
    @include quickFlex($dir: row, $wrap: wrap, $column: 10px);
    & > div {
      @include quickFlex($dir: column, $justify: stretch, $width: clamp(150px, 100%, 300px));
      margin: 10px auto;
      padding: 5px;
      transition: 1s all ease;
      & > div {
        width: 140px;
        height: 140px;
        position: relative;
        margin: 10px auto;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid var(--secondary);
      }
      & > button {
        margin: 15px auto;
      }

      &:hover {
        background-color: var(--secondary);
      }
    }
  }

  & > div.contactForm {
    margin-top: 40px;
    width: 100%;
    padding: 30px 20px;
  }
}
