@import "styles/index.scss";

.navigation {
  @include quickFlex($wrap: wrap, $row: 20px, $column: 20px);
  max-width: 1000px !important;

  & > * > div {
    transition: all 0.5s ease-in-out;
  }

  & > * > div:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
  }
}
