@import "styles/index.scss";

.layout {
  & > aside {
    display: none;
  }

  & > div:last-of-type {
    display: grid;
    grid-template-rows: var(--headerHeight) auto;

    & > div:last-of-type {
      min-height: 600px;
      @include quickFlex();
      background: var(--secondary-color);
      & > form {
        margin: auto;
        max-width: 600px;
        text-align: center;
        width: 100% !important;
        padding: 30px 20px !important;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .layout {
    display: grid;
    min-height: var(--visibleScreen) !important;
    grid-template-columns: clamp(400px, 40%, 800px) auto;

    & > aside {
      display: unset;
    }

    & > div:last-of-type > div:last-of-type {
      background: var(--primary-color);
      padding: 20px;
      & > form {
        background: var(--secondary-color) !important;
        @include boxShadow($br: 10px);
        width: clamp(300px, 100%, 600px);
        padding: 15px 50px;
      }
    }
  }
}
