@import "@source/scss/index.scss";

.layout {
  min-height: 500px;
  & > div:last-of-type {
    & > aside {
      margin: 0;
      display: none;
    }
    & > main {
      // border: 3px solid blue;
      padding: 0;
      @include quickFlex($width: 100%);
      // background-image: radial-gradient(circle at bottom left, lighten($primary, 30), lighten($secondary, 28) 10%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .layout {
    height: var(--visibleScreen);
    & > div:last-of-type {
      display: grid;
      grid-template-columns: clamp(600px, 50%, 550px) auto;
      height: calc(100% - $headerHeight);
      & > aside {
        display: unset;
        background-image: url("/images/layout/soccermass.webp");
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          background-color: $darkGray;
          opacity: 0.4;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        & > div {
          position: relative;
          z-index: 1;
          height: 100%;
          & > div {
            margin: auto;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            color: darken($color: $textSecondary, $amount: 10);
            font-size: 1.2em;
            padding: 10px;
            max-width: 450px;
            * {
              text-align: center;
            }

            ul {
              padding: 0;
              list-style: none;
            }
          }
        }
      }
      & > main {
        // padding: 50px 20px;
        // background-color: #fff;
      }
    }
  }
}
