@import "@styles/scss/index.scss";

body {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Merienda", "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  line-height: "1.7em";
  letter-spacing: "0.01em";
  caret-color: $primary;
  a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    transition: color 500ms ease-in;
  }

  a:hover {
    transition: color 300ms ease-out;
    color: darken($color: $secondary, $amount: 10);
  }

  * {
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: $dark;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $primary, $amount: 10);
}

// style the text that a user selects on a webpage.
::selection {
  color: var(--primary);
  background-color: lighten($color: $primary, $amount: 0);
}

// Forcefully remove input background colour for Chrome autocomplete/autofill?
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  box-shadow: inset 0 0 20px 20px transparent !important;
}
