@import "@source/scss/index.scss";

.comingSoon {
  background-image: radial-gradient(circle at bottom left, lighten($darkGray, 7), $darkGray 30%);
  min-height: var(--visibleScreen);
  background-image: url("/images/layout/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Change the last value (0.5) to adjust the darkness */
    // z-index: 1;
  }

  & > * {
    position: relative;
  }

  & > * > main {
    padding: 10px;
    margin: auto;
    // z-index: 1;
    text-align: left;
    margin-top: -20px;
    @include quickFlex($dir: column, $width: 100%, $align: flex-start);
    min-height: calc(var(--visibleScreen) - $headerHeight);
    max-width: 1100px;

    & > section {
      margin: 40px auto;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      border-radius: 20px;
      overflow: hidden;
      & > span {
        padding: 5px;
        @include quickFlex($dir: column);
        height: clamp(100px, calc(var(--visibleScreen) - 600px), 200px);
        text-align: center;
        background-color: rgba($primary, 0.5); /* lightened white with 80% transparency */
        color: white;
      }
    }
  }
}
