$dark-color: #000000;
$light-color: #ffffff;
$primary-color: #448b44;
$secondary-color: #8dca8d;
$highlight-color: #e2ad26;

$dark-theme-primary-color: #22272e;
$dark-theme-contrast-color: #d8d8d8;
$dark-theme-secondary-color: #30353c;

$light-theme-primary-color: #ffffff;
$light-theme-contrast-color: #06051b;
$light-theme-secondary-color: #eeeeee;
// $light-theme-secondary-color: #f7f7f7;

:export {
  darkColor: $dark-color;
  lightColor: $light-color;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  highlightColor: $highlight-color;

  darkThemePrimaryColor: $dark-theme-primary-color;
  darkThemeSecondaryColor: $dark-theme-secondary-color;
  darkThemeContrastColor: $dark-theme-contrast-color;

  lightThemePrimaryColor: $light-theme-primary-color;
  lightThemeSecondaryColor: $light-theme-secondary-color;
  lightThemeContrastColor: $light-theme-contrast-color;
}

// $apihub-primary: rgb(30, 57, 82);

// $light: #f1f1f1;
// $dark: #06051b;
// $apihub-secondary: #1197c0;

// $loading: #eecd14;
// $success: green;
// $error: red;
// $warning: #1197c0;
// $highlight: #1e3952;

// $textPrimary: #4a4a4a;
// $textSecondary: #ededed;
// $textSecondary: #5e5e5e;
// $textSecondary: #ccccdc;
// $textSecondary: #f5f5f5;

// $textPrimary: whitesmoke;

// Variables
// $primary: #ad2723;
// $secondary: #a8a8a8;
// $textPrimary: #f3f3f3;
// $textSecondary: #999999;

// $err: rgb(241, 28, 28);
// $text: rgb(65, 65, 65);
// $pryGold: rgb(238, 205, 20); // rgb(230, 170, 41),,,,

// // $apihub: #1197c0;
// $apihub-secondary: #1197c0;
// // $apihub-secondary: rgb(87, 142, 194),
// $apihub-light: #f5f5f5;
// $apihub-highlight: #e2ad26;
// $apihub-success: #26e226;
// $apihub-black: #5e5e5e;

// $main2: rgb(68, 139, 68);

// $main: rgb(141, 202, 141);

// header height
// $headerHeight: 68px;
// $headerHeight: 75px;
// $minContentHeight: 500px;
// $negativeHeaderHeight: -70px;
