@import "styles/index.scss";

aside.slides {
  background-image: url("/images/layout/waverd.webp");
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    background-color: $dark-color;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & > div {
    z-index: 1;

    top: 45%;
    left: 45%;
    position: relative;
    transform: translate(-50%, -50%);

    margin: auto;
    padding: 10px;
    max-width: 450px;
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: center;
    color: $light-color;

    ul {
      padding: 0;
      list-style: none;
    }
  }
}
