@import "@source/scss/index.scss";

.social {
  padding: 10px;
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
  max-width: 800px;
  @include quickFlex($dir: row, $wrap: wrap, $column: 10px, $row: 10px);
  & > div {
    width: 100%;
    font-weight: 700;
    min-width: 250px;
    padding: 18px 10px;
  }
}

@media screen and (min-width: 560px) {
  .social > div {
    width: initial;
  }
}
